<%- include('partials/header') %>

<div class="cont">
   <span class="text1">Welcome in</span>
   <span class="text2">Job portal</span>
</div>

<div class="jumbotron centered">
  <div class="container">
    <img src="images/MNNIT.png" style="height: 200px;width: 153.47px;">
    <h2 class="display-4">Motilal Nehru National Institute of Technology</h2>
    <p class="lead">Welcome to Student and Recruiter Login Portal</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
