<%-  include('partials/header') %>
<!-- Removed Year of graduation -->
<!-- Removed HQ -->
<!-- Removed College -->
<style>
body{
background-image: url("images/Back.jpg");
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
}
  .multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #5a5a5a7a solid;
  border-radius: 0 0 5px 5px;
}

#checkboxes1 {
  display: none;
  border: 1px #5a5a5a7a solid;
  border-radius: 0 0 5px 5px;
}


#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #32fff5a8;
}
</style>


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Congratulations! <%= user.name %> </strong> You have succesfully Registerd succesfully!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

<div class="container my-5" > 
    <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
    
              <!-- Makes POST request to /login route -->
              <form action="/Student_edit" method="POST">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for="fname"><b>First Name</b></label>
                      <input type="text" class="form-control" name="fname" placeholder="First name">
                    </div>
                    <div class="col">
                      <label for="lname"><b>Last Name</b></label>
                      <input type="text" class="form-control" name="lname" placeholder="Last name">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="course"><b>Course</b></label>
                  <select class="form-control" name="course" id="course" placeholder="course"> <!-- use onselect if not getting value using req.body.<name> -->
                    <option>Bachelor of Technology</option>
                    <option>Master of Technology</option>
                    <option>Master of Computer Application</option>
                    <option>Master of Business Administration</option>
                    <option>Doctor of Philosophy(PhD)</option>
                    <option>Master of Science (M.Sc.) in Mathematics and Scientific Computing</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="SPEC"><b>Specialization</b></label>
                  <select class="form-control" name="SPEC" id="SPEC" placeholder="SPEC"> <!-- use onselect if not getting value using req.body.<name> -->
                    <option>Bio-Technology</option>
                    <option>Chemical Engineering</option>
                    <option>Civil Engineering</option>
                    <option>Computer Science & Engineering</option>
                    <option>Electrical Engineering</option>
                    <option>Electronics & Communication Engineering</option>
                    <option>Information Technology</option>
                    <option>Mechanical Engineering</option>
                    <option>Production & Industrial Engineering</option>
                    <option>Ph.D. in Engineering </option>
                    <option>Ph.D. in Management </option>
                    <option>PhD in Humanities and Social Sciences (HSS) </option>
                    <option>Ph.D. in Geographic Information System (GIS) Cell </option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label for="CT"><b>Course Type</b></label>
                    <select class="form-control" name="CT" id="CT">
                      <option>Part-Time</option>
                      <option>Full-Time</option>
                      <option>Regular</option>
                    </select>
                  </div>
                  <div class="form-group" id="Addtothis">
                    <label for="Project"><b>Projects</b></label>
                    <br>
                    <div class="Pro0">
                      <label for="name"><b>Project Name</b></label>
                      <input type="text" class="form-control" name="P0name" id="P0name" placeholder="Project Name">
                      <label for="Pdesc"><b>Description Of Project</b></label>
                      <textarea class="form-control" name="P0desc" id="P0desc" cols="30" rows="5" placeholder="Description"></textarea>
                      <label for="Link1"><b>Github Link / Live Link of Project</b></label>
                      <input type="url" name="Link0" id="Link0" class="form-control" placeholder="Add Link here">
                    </div>
                  </div>
                  <br>
                  <button type="button" class="btn btn-outline-secondary" onclick="func2()"><i class="fas fa-plus"></i> Add More</button>
                  <div class="form-group">
                    <label for="Skill"><b>Skills</b></label>
                    <div class="multiselect">
                      <div class="selectBox" onclick="showCheckboxes()">
                        <select class="form-control" name="skillwala">
                          <option id="skillwala">Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes" style="padding-left: 5px">
                        <label for="1">
                          <input type="checkbox" id="1" onclick="func1(id,`JavaScript`)"/> JavaScript</label>
                        <label for="2">
                          <input type="checkbox" id="2" onclick="func1(id,`C++`)"/> C++</label>
                        <label for="3">
                          <input type="checkbox" id="3" onclick="func1(id,`C Language`)"/> C Language</label>
                        <label for="4">
                          <input type="checkbox" id="4" onclick="func1(id,`HTML`)"/> HTML</label>  
                        <label for="5">
                          <input type="checkbox" id="5" onclick="func1(id,`Bootstrap`)"/> Bootstrap</label>
                        <label for="6">
                          <input type="checkbox" id="6" onclick="func1(id,`Node.js`)"/> Node.js</label>
                        <label for="7">
                          <input type="checkbox" id="7" onclick="func1(id,`MongoDB`)"/> MongoDB</label>  
                        <label for="8">
                          <input type="checkbox" id="8" onclick="func1(id,`Django`)"/> Django</label>  
                        <label for="9">
                          <input type="checkbox" id="9" onclick="func1(id,`MySQL`)"/> MySQL</label> 
                        <label for="10">
                          <input type="checkbox" id="10" onclick="func1(id,`Pug`)"/> Pug</label> 
                        <label for="11">
                          <input type="checkbox" id="11" onclick="func1(id,`Angular`)"/> Angular</label>
                        <label for="12">
                          <input type="checkbox" id="12" onclick="func1(id,`Reactjs`)"/> Reactjs</label>
                        <label for="13">
                          <input type="checkbox" id="13" onclick="func1(id,`Ruby/Rails`)"/> Ruby/Rails</label>
                        <label for="14">
                          <input type="checkbox" id="14" onclick="func1(id,`Python`)"/> Python</label>
                        <label for="15">
                           <input type="checkbox" id="15" onclick="func1(id,`Perl`)"/> Perl</label>      
                      </div>
                    </div> 
                  </div>
                  <div class="form-group">
                    <label for="Hobby"><b>Hobbies</b></label>
                    <div class="multiselect">
                      <div class="selectBox" onclick="showCheckboxes1()">
                        <select class="form-control" name="HobbyWala">
                          <option id="HobbyWala">Select an option</option>
                        </select>
                        <div class="overSelect"></div>
                      </div>
                      <div id="checkboxes1" style="padding-left: 5px">
                        <label for="1">
                          <input type="checkbox" id="1" onclick="func3(id,`Reading`)"/> Reading</label>
                        <label for="2">
                          <input type="checkbox" id="2" onclick="func3(id,`Gaming`)"/> Gaming</label>
                        <label for="3">
                          <input type="checkbox" id="3" onclick="func3(id,`Writing`)"/> Writing</label>
                        <label for="4">
                          <input type="checkbox" id="4" onclick="func3(id,`Vlogging`)"/> Vlogging</label>
                        <label for="5">
                          <input type="checkbox" id="5" onclick="func3(id,`NetFixing`)"/> NetFixing</label>
                        <label for="6">
                          <input type="checkbox" id="5" onclick="func3(id,`Cycling`)"/> Cycling</label> 
                        <label for="7">
                          <input type="checkbox" id="5" onclick="func3(id,`Driving`)"/> Driving</label>       
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Linkdn"><b>Add Your Linkdn Profile ID here:</b></label>
                    <input type="url" class="form-control" name="LINKDN" id="LINKDN" placeholder="Add Linkdn Profile id">
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-3 form-group">
                      <label for="School"><b>Name Of School</b></label>
                       <input type="text" name="NOS" id="NOS" class="form-control" placeholder="Name of School">
                    </div>
                    <div class="col-xs-12 col-3 form-group">
                      <label for="NOB"><b>Name of Board</b></label>
                       <input type="text" name="NOB" id="NOB" class="form-control" placeholder="Name of Board"> 
                    </div>
                    <div class="col-xs-12 col-3 form-group">
                     <label for="YOHSCC"><b>Year of Completion</b></label>
                     <input type="text" name="YOHSCC" id="YOHSCC" class="form-control" placeholder="Year of Completion">
                    </div>
                    <div class="col-xs-12 col-3 form-group">
                     <label for="CGPA"><b>CGPA/Percentage</b></label>
                     <input type="text" name="CGPA" id="CGPA" class="form-control" placeholder="CGPA"> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-4 form-group">
                      <label for="School"><b>Name Of College</b></label>
                       <input type="text" name="NOC" id="NOC" class="form-control" placeholder="Name of College">
                    </div>
                    <div class="col-xs-12 col-4 form-group">
                     <label for="YOHSCC"><b>Year of Graduation</b></label>
                     <input type="text" name="YOG" id="YOG" class="form-control" placeholder="Year of Graduation">
                    </div>
                    <div class="col-xs-12 col-4 form-group">
                     <label for="CGPA"><b>CPI/Percentage</b></label>
                     <input type="text" name="CPI" id="CPI" class="form-control" placeholder="CPI"> 
                    </div>
                  </div>
                  <input type="hidden" name="username" id="username" value="<%= user.name %>" >
                  <!-- Uncomment For adding Image But Gives Error -->
                  <!-- <div class="form-group">
                    <label for="Image"><b>Upload Your Profile Picture Here: </b></label>
                    <input type="file" name="Profile_pic" id="PP" placeholder="Upload">
                  </div> -->
                  <!-- Add more here -->
                 <button type="submit" class="btn btn-dark">Submit Details</button> 
                </form>    <!-- Form_End -->
                <br>
                <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>            
              </div>
          </div>
        </div>
    </div>
</div>

<!-- Separate_Plane_Old_Vanilla_Js -->
<script>
localStorage.clear();
  let  i = 0;
  //for Projects Section
  function func2(){
    i=i+1;
    localStorage.setItem("Number_of_Projects", i);
    const adder = document.createElement("div");
    const giveID = "Pro" + i;
    adder.id = giveID;
    const cont1 = document.getElementById("Addtothis");
    cont1.appendChild(adder);
    const label1 = document.createElement("label");
    label1.innerHTML = "<b>Project Name</b>";
    label1.setAttribute("for", "name");
    const ProName = document.createElement("input");
    const giver = "P0name";
    ProName.className = "form-control";
    ProName.id = giver;
    ProName.setAttribute("type", "text");
    ProName.setAttribute("Placeholder" , "Project Name");
    ProName.setAttribute("name" , giver);
    const label2 = document.createElement("label");
    label2.innerHTML = "<b>Description of Project</b>";
    label2.setAttribute("for", "Pdesc");
    const DescName = document.createElement("textarea");
    const giver1 = "P0desc";
    DescName.className = "form-control";
    DescName.id = giver1;
    DescName.setAttribute("type", "text");
    DescName.setAttribute("Placeholder" , "Description");
    DescName.setAttribute("cols" , "30");
    DescName.setAttribute("rows" , "5");
    DescName.setAttribute("name" , giver1);
    const label3 = document.createElement("label");
    label3.innerHTML = "<b>Github Link / Live Link of Project</b>";
    label3.setAttribute("for", "Link");
    const Linker1 = document.createElement("input");
    const giver2 = "Link0";
    Linker1.className = "form-control";
    Linker1.id = giver2;
    Linker1.setAttribute("type", "url");
    Linker1.setAttribute("Placeholder" , "Add Link Here");
    Linker1.setAttribute("name" , giver2);

   const cont = document.getElementById(giveID);
   cont.innerHTML = "<hr>";
   cont.appendChild(label1);
   cont.appendChild(ProName);
   cont.appendChild(label2);
   cont.appendChild(DescName);
   cont.appendChild(label3);
   cont.appendChild(Linker1);
   
  }
// For the Skills Section
  let expanded = false;

function showCheckboxes() {
  let checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
//for Hobbies section
let expanded1 = false;

function showCheckboxes1() {
  let checkboxes = document.getElementById("checkboxes1");
  if (!expanded1) {
    checkboxes.style.display = "block";
    expanded1 = true;
  } else {
    checkboxes.style.display = "none";
    expanded1 = false;
  }
}

  function func1(getter, give){
  let Box = document.getElementById(getter);
  let CompareValue = Box.value;
  skills = localStorage.getItem("skills");
  if(skills === null){
    SkillObj = [];
  }else{
    SkillObj = JSON.parse(skills);
  } 
  if(CompareValue === give){
    let x = SkillObj.indexOf(give, 0);
    delete SkillObj[x];
    Box.value="on";
  }else{
    Box.value = give;
    SkillObj.push(give);
  }
  let FilteredSkills = SkillObj.filter(function(element){
    return element != null;
  });
  let Putter = document.getElementById("skillwala");
  Putter.value = FilteredSkills;

  localStorage.setItem("skills", JSON.stringify(FilteredSkills));
}
//For Hobby Section
function func3(getter, give){
  let Box = document.getElementById(getter);
  let CompareValue = Box.value;
  skills = localStorage.getItem("Hobbies");
  if(skills === null){
    HobbyObj = [];
  }else{
    HobbyObj = JSON.parse(skills);
  } 
  if(CompareValue === give){
    let x = HobbyObj.indexOf(give, 0);
    delete HobbyObj[x];
    Box.value="on";
  }else{
    Box.value = give;
    HobbyObj.push(give);
  }
  let FilteredHobbies = HobbyObj.filter(function(element){
    return element != null;
  });
  let Putter = document.getElementById("HobbyWala");
  Putter.value = FilteredHobbies;

  localStorage.setItem("Hobbies", JSON.stringify(FilteredHobbies));
}
</script>

<%-  include('partials/footer') %> 

