
  
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student Information</title>             <!--Title Name-->                              
	
	 <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> <!-- Fontawesome-->
    <link rel="stylesheet" href="css/student.css" >                 <!--CSS LINK-->
</head>
<body>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<div class="img_holder">
					<img src="images/MNNIT.png">     <!--USER_PIC--><!--How we will decide User pic size-->
				</div>
				<div class="contact_wrap pb">
					<div class="title">
						Contact
					</div>
					<div class="contact">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true"></i></div>
									<div class="text">Phone Number</div>    <!--Phone Number-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
									<div class="text">Gmail.Account</div>             <!--Gmail acccount of user-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-weebly" aria-hidden="true"></i></div>
									<div class="text">Linkedln Profile</div>              <!--Linkedln Profile-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-map-signs" aria-hidden="true"></i></div>
									<div class="text">Address/Location of user</div>            <!--Address/Location of user-->
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="skills_wrap pb">
					<!--Skill division we can add more-->
										<!-- Here How we will decide hobbies according to user-->

					<div class="title">
						Skills
					</div>
					<div class="skills">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-html5"></i></div>
									<div class="text">SKILLL 1</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-css3-alt"></i></div>
									<div class="text">Skill 2</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-js"></i></div>
									<div class="text">Skill3</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-react"></i></div>
									<div class="text">SKILL 4</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--Skill close-->

				<div class="hobbies_wrap pb">
					<!--Hobbies Section-->
					<!-- Here How we will decide hobbies according to user-->
					<div class="title">
						hobbies
					</div>
					<div class="hobbies">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-book"></i></div>
									<div class="text">Hobby1</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-music"></i></div>
									<div class="text">Hobby2</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-gamepad"></i></div>
									<div class="text">Hobby3</div>
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-tree"></i></div>
									<div class="text">Hobby4</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--Hobbies Section over-->
			<div class="right">
				<div class="header">
					<div class="name_role">
						<div class="name">
							User_name
						</div>
						<div class="role">
								College Name and Branch Names
						</div>
					</div>
					<div class="about">
			About User
					</div>
				</div>
				<div class="right_inner">
					<div class="exp">
						<div class="title">
							Projects
						</div>
						<div class="exp_wrap">
							<ul>
								<!-- skill starts here  -->
								<li>
									<div class="li_wrap">
										<div class="date">
											Project1
										</div>
										<div class="info">
											<p class="info_title">
												Project 1 Name
											</p>
											<p class="info_com">
												github link 
												<!--how we add user git link-->
											</p>
											<p class="info_cont">
												project info
											</p>
										</div>
									</div>
								</li>
								<!-- skill ends -->
							</ul>
						</div>
					</div>
					<div class="education">
						<div class="title">
							Education
						</div>
						<div class="education_wrap">
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
											Date
										</div>
										<div class="info">
											<p class="info_title">
												Field
											</p>
											<p class="info_com">
												University Name
											</p>
											<p class="info_cont">
											info
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
											Date
										</div>
										<div class="info">
											<p class="info_title"> courses done/Intern</p>
												
											
											<p class="info_com">
												Details or location
											</p>
											<p class="info_cont">
												info
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="li_wrap">
										<div class="date">
										Date
										</div>
										<div class="info">
											<p class="info_title">
												Schooling
											</p>
											<p class="info_com">
												School name
											</p>
											<p class="info_cont">
								 info
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
