<%-  include('partials/header') %>

<div class="container my-5"> 
    <div class="row m-auto">
        <div class="col-6 col-xs-12">
            <h1> <%= user.name %> </h1>
            <h1> <%= user.pass %> </h1> 
        </div>
    </div>
</div>

<%-  include('partials/footer') %>