<%-  include('partials/header') %>


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Congratulations!</strong> You have succesfully logged in succesfully!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

<div class="container my-5"> 
    <div class="row m-auto">
        <div class="col-6 col-xs-12">
            <h1> <%= user.name %> </h1>
            <h1> <%= user.pass %> </h1> 
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </div>
    </div>
</div>


<%-  include('partials/footer') %> 
