
body {
  background-color: #E8ECEF;
  
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.card{
   width: 80%;
   border: 1px white solid;
   border-radius: 15px;
   box-shadow: 5px 5px 5px 5px #878c88;
}
